html, body {
	height: 100%;
	}

.topo{
    display: flex;
    height: 15%;
    width: 100%;
    background-color: black;
    justify-content: space-around;
    align-items: center;
}

.topo a{
    text-decoration: none;
    font-size: 22px;
}

.titulo-topo{
    color: white;
    font-weight: bold;
    font-size: 30px;
    font-family: 'Glory', sans-serif;
}

.logo{
    height: 5rem;
    width: 5rem;
}

.principal{
    height: 70%;
}

.background{
    background: linear-gradient(black, red, black);
    height: 100%;
    width: 100%;
    margin: 0 auto;
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.background p{
    height: auto;
    width: 100%;
    font-family: 'Glory', sans-serif;
    font-weight: bold;
    color: white; 
}
.background p:first-child{
    font-size: 30px;
}
.background p:nth-child(2){
    font-size: 18px;
}
.rodape{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15%;
    width: 100%;
    background-color: black;
}

.texto-rodape{
    color: white;
    text-align: center;
    vertical-align: middle;
    margin-top: 2%;
    font-family: 'Glory', sans-serif;
    font-weight: bold;
    font-size: 20px;
}

.formulario{
    color: rgb(247, 235, 235);
    border: none;
    background-color: black;
    font-weight: bold;
    font-family: 'Glory', sans-serif;
    letter-spacing: 1px;
    border-radius: 10px;
    font-size: 24px;
    padding: 10px;
    display: inline-block;
    width: 20%;
    height: 30px;
}

.botao-formulario{
    border: none;
    background-color: black;
    color: rgb(247, 235, 235);
    font-weight: bold;
    font-family: 'Glory', sans-serif;
    letter-spacing: 1px;
    border-radius: 10px;
    font-size: 26px;
    padding: 10px;
}

.botao-formulario-input{
    border: none;
    background-color: black;
    color: rgb(247, 235, 235);
    margin-left: 20px;
    font-weight: bold;
    font-family: 'Glory', sans-serif;
    letter-spacing: 1px;
    border-radius: 10px;
    font-size: 26px;
    display: inline-block;
    height: 48px;
}

.botao-formulario:hover{
    cursor: pointer;
}

#form1{
    height: 50%;
    width: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.campo-form{
    width: 100%;
    height: 20%;
    justify-content: center;
    align-items: center;
    display: flex;
}

.tabela{
    border: 1px solid white;
    padding: 5px 5px 5px 5px;
    font-family: 'Glory', sans-serif;
    color: white;
    font-size: 24px;
    font-weight: bold;
}

@media screen and (max-width: 480px){
    .topo{
        display: flex;
        height: 250px;
        width: 100%;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding: 0;
        margin: 0;
    }

    .topo a:nth-child(2){
        font-size: 18px;
    }

    .topo a:nth-child(3){
        font-size: 18px;
    }

    .topo a:nth-child(4){
        font-size: 18px;
    }

    .logo{
        padding: 0px;
    }

    .rodape{
        height: 20%;
    }

    .texto-rodape{
        font-size: 16px;
    }

    .principal{
        height: 70%;
    }

    .background p:first-child{
        font-size: 18px;
    }
    .background p:nth-child(2){
        font-size: 14px;
    }
}