html, body {
	height: 100%;
	}

.topo{
    display: flex;
    height: 15%;
    width: 100%;
    background-color: black;
    justify-content: space-between;
}

.titulo-topo{
    color: white;
    display: block;
    padding: 30px 30px 30px 0;
    font-weight: bold;
    font-size: 30px;
    font-family: 'Glory', sans-serif;
}

.logo{
    display: block;
    height: 5rem;
    width: 5rem;
    padding: 20px 0 20px 20px;
}

.principal{
    height: 70%;
    display: flex;
}

.principal p{
    display: block;
    text-align: center;
    color: white;
    font-size: 30px;
    
}

.background{
    background: linear-gradient(black, red, black);
    height: 100%;
    width: 100%;
}
.top-background{
    height: 100%;
    width: 1240px;
    margin: 0 auto;
    
    
}

.rodape{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 15%;
    width: 100%;
    background-color: black;
    color: white;
}

.texto-rodape{
    text-align: center;
    vertical-align: middle;
    margin-top: 2%;
    font-family: 'Glory', sans-serif;
    font-weight: bold;
    font-size: 20px;
}

.formulario{
    color: rgb(247, 235, 235);
    border: none;
    background-color: black;
    font-weight: bold;
    font-family: 'Glory', sans-serif;
    letter-spacing: 1px;
    padding: 10px;
    width: 60%;
    border-radius: 15px;
    font-size: 18px;
    
}

.botao-formulario{
    width: 30%;
    border: none;
    background-color: black;
    color: rgb(247, 235, 235);
    margin-left: 20px;
    font-weight: bold;
    font-family: 'Glory', sans-serif;
    letter-spacing: 1px;
    padding: 10px;
    border-radius: 15px;
    font-size: 18px;
    
}

.botao-formulario:hover{
    cursor: pointer;
}

#form1{
    height: auto;
    width: 34%;
    display: block;
    padding: 250px 0 0 0;  
    margin: 0 33% 0 33%; 
}

.tabela{
    margin: 20px 0 0 25%;
    border: 1px solid white;
    padding: 5px 5px 5px 5px;
    font-family: 'Glory', sans-serif;
    color: white;
    font-size: 24px;
    font-weight: bold;
}